In [3]:
import sklearn
from sklearn.model_selection import train_test_split
import numpy as np
import shap
import time

In [8]:
df_iris = shap.datasets.iris()
df_census = shap.datasets.adult()
df_imdb = shap.datasets.imdb()
df_cal = shap.datasets.california()
df_emotion = shap.datasets.

In [10]:
df_census

(        Age  Workclass  Education-Num  Marital Status  Occupation  \
 0      39.0          7           13.0               4           1
 1      50.0          6           13.0               2           4
 2      38.0          4            9.0               0           6
 3      53.0          4            7.0               2           6
 4      28.0          4           13.0               2          10
 ...     ...        ...            ...             ...         ...
 32556  27.0          4           12.0               2          13
 32557  40.0          4            9.0               2           7
 32558  58.0          4            9.0               6           1
 32559  22.0          4            9.0               4           1
 32560  52.0          5            9.0               2           4

        Relationship  Race  Sex  Capital Gain  Capital Loss  Hours per week  \
 0                 0     4    1        2174.0           0.0            40.0
 1                 4     4    1           0.0           0.0            13.0
 2                 0     4    1           0.0           0.0            40.0
 3                 4     2    1           0.0           0.0            40.0
 4                 5     2    0           0.0           0.0            40.0
 ...             ...   ...  ...           ...           ...             ...
 32556             5     4    0           0.0           0.0            38.0
 32557             4     4    1           0.0           0.0            40.0
 32558             1     4    0           0.0           0.0            40.0
 32559             3     4    1           0.0           0.0            20.0
 32560             5     4    0       15024.0           0.0            40.0

        Country
 0           39
 1           39
 2           39
 3           39
 4            5
 ...        ...
 32556       39
 32557       39
 32558       39
 32559       39
 32560       39

 [32561 rows x 12 columns],
 array([False, False, False, ..., False, False,  True]))